<h1>Are you sure you want to remove "<%= @playlist[:name] %>" from the Friend Zone?</h1>
<%= button_to 'STOP! I want to keep it!', @playlist %><br>
<%= button_to 'Yes', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %>
