<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Song Number</th>
    <th>Song Name</th>
  </tr>
  <% @songs.each_with_index do |song, idx| %>
    <tr>
      <td><%= idx %></td>
      <td><%= song['track']['name'] %></td>
    </tr>
  <% end %>
</table>
